.card {
	position: relative;
	cursor: pointer;
	border-radius: 12px;
	overflow: hidden;
	background: var(--card-bg);
	transition: transform 0.3s ease;
	cursor: pointer;
	box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.3);
	&:hover {
		transform: translateY(-5px);
	}
}

.imageContainer {
	position: relative;
	width: 100%;
	padding-bottom: 100%; // Makes it square
}

.image {
	object-fit: cover;
}

.content {
	padding: 1rem;
}

.title {
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	margin-bottom: 0;
	color: var(--text-primary);
}

.meta {
	text-align: center;
	text-transform: uppercase;
	color: var(--text-primary);
	font-size: 22px;
	margin-bottom: 0 0 0.5rem;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.tag {
	font-size: 16px;
	text-transform: uppercase;
	padding: 8px 11px 4px;
	border-radius: 7px;
	background-color: #e5f6fd;
	color: #fff;
}

.tag-music {
	background-color: #03afa2;
}

.tag-mastering {
	background-color: #e0bd19;
}

.tag-production {
	background-color: #cf441e;
}

.tag-mixing {
	background-color: #155ec2;
}
