.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	padding: 2rem;
	color: #fff;

	p {
		color: #fff;
		margin-top: 1rem;
		font-size: 2rem;
		text-transform: uppercase;
	}
}

.spinner {
	width: 20px;
	height: 20px;
	border: 10px solid rgba(255, 255, 255, 0.3);
	border-radius: 0%;
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
