.container {
	margin-bottom: 2rem;
	text-align: center;
}

.title {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 1rem;
}

.tagList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: center;
}

.tag {
	font-family: "m6x11", "Courier New", Courier, monospace;
	font-size: 16px;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	transition: all var(--transition-speed) ease;
	background-color: var(--background);
	border: 1px solid #fff;
	&:hover {
		background-color: var(--border);
	}

	&.active {
		background-color: white;
		color: #326061;

		&:hover {
			background-color: var(--primary-dark);
		}
	}
}
