@import "@styles/_variables";

.container {
	margin: 2rem 0 0;
	text-align: center;
}

.title {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 1rem;
	:global(body.dark-mode) & {
		text-transform: capitalize;
		-webkit-font-smoothing: antialiased;
	}
}

.tagList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: center;
}

.tag {
	font-family: "m6x11", "Courier New", Courier, monospace;
	font-size: 16px;
	padding: 5px 9px 2px;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	transition: all var(--transition-speed) ease;
	background-color: var(--background);
	border: 1px solid #fff;
	&:hover {
		background-color: var(--border);
		color: #326061;
	}

	&.active {
		background-color: white;
		color: #326061;

		&:hover {
			background-color: #fff;
			color: #326061;
		}
	}
	:global(body.dark-mode) & {
		background-color: #aa0000;
		border: none;
		&:hover {
			background-color: #fff;
			color: #aa0000;
		}
		&.active {
			background-color: white;
			color: #aa0000;

			&:hover {
				background-color: #fff;
				color: #aa0000;
			}
		}
	}
}
