@import "@styles/_variables";

.card {
	position: relative;
	cursor: pointer !important;
	border-radius: 12px;
	overflow: hidden;
	background: var(--card-bg);
	transition: transform 0.3s ease;
	cursor: pointer;
	box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.3);
	&:hover {
		transform: translateY(-5px);
	}
	:global(body.dark-mode) & {
		border-radius: 5px;
	}
}

.imageContainer {
	position: relative;
	width: 100%;
	padding-bottom: 100%; // Makes it square
}

.image {
	object-fit: cover;
}

.content {
	padding: 1rem;
	min-height: 152px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title {
	font-size: 26px;
	text-align: center;
	margin: 0;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	color: var(--text-primary);
	:global(body.dark-mode) & {
		text-transform: none;
		-webkit-font-smoothing: antialiased;
	}
}

.meta {
	text-align: center;
	text-transform: uppercase;
	color: var(--text-secondary);
	font-size: 22px;
	:global(body.dark-mode) & {
		text-transform: none;
		-webkit-font-smoothing: antialiased;
	}
	p {
		margin: 0.5rem 0;
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.3rem;
	margin-top: 0.5rem;
}

.tag {
	font-size: 16px;
	text-transform: uppercase;
	padding: 8px 11px 4px;
	border-radius: 7px;
	background-color: #e5f6fd;
	color: #fff;
	:global(body.dark-mode) & {
		font-family: "m6x11", "Courier New", Courier, monospace;
	}
}

.tag-music {
	background-color: #03afa2;
	:global(body.dark-mode) & {
		background-color: #aa0000;
	}
}

.tag-master {
	background-color: #e0bd19;
	:global(body.dark-mode) & {
		background-color: #aa0000;
	}
}

.tag-prod {
	background-color: #cf441e;
	:global(body.dark-mode) & {
		background-color: #aa0000;
	}
}

.tag-mix {
	background-color: #155ec2;
	:global(body.dark-mode) & {
		background-color: #aa0000;
	}
}
